.catlist .last {
	border-right: none;
}

.catgrid ul li {
	border-bottom: 1px solid #CCCCCC;
	padding: 10px 0;
}

.catgrid ul li a {
	color: #000;
	padding-left: 10px;
	text-decoration:none;
}
.catgrid ul li a:hover {
	padding-left: 10px;
	text-decoration:underline;
}

.catlist_level_top {
	border-bottom: 1px solid #CCCCCC;
}
.catlist_level_top h3 {
	color: #4C4C4C;
	font-size: 1.3em;
	line-height: 2.8em;
	margin-bottom: -5px; 
	padding-left: 10px;
	text-transform: uppercase;
}

.catlist_level_top img {
	padding: 0 20px;
}