name: Build & Deploy

on:
  push:
    branches: [ 2.4 ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Deploy Magento
      uses: appleboy/ssh-action@v0.1.2
      with:
        host:     ${{secrets.SSH_HOST}}
        key:      ${{secrets.SSH_KEY}}
        username: ${{secrets.SSH_USERNAME}}
        script: |
          cd /var/www/site
          git reset --hard
          git pull origin 2.4
          chown -R git /var/www/site
          chmod -R 775 /var/www/site
          php -d memory_limit=6G bin/magento setup:static-content:deploy -f
          php -d memory_limit=6G bin/magento cache:clean

